torch==1.1.0
git+https://github.com/pytorch/ignite.git@c5769ba452b7f572545276250b6239a2d83c59fd
pytorch-pretrained-bert>=0.6.2
tensorboardX==1.7
tensorflow
joblib==0.13.2
spacy==2.1.4
ftfy==5.5.1
pandas==0.24.2
numpy==0.16.4
protobuf==3.8.0